.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.App-title {
  margin-top: 1rem;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 5rem;
  width: 50%;
}


.by-span {
  position: absolute;
  font-size: 13px;
  top: 15px;
  left: 30px;
  user-select: none;
}